.card {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  width: 300px;
  transition: transform 0.3s ease-in-out;
  height: 100%;
}
.card-category.beginner {
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: #c3e4ba;
  color: #fff;
  padding: 5px 10px;
  border-radius: 20px;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
}
.card:hover {
  transform: translateY(-10px);
}

.card-image {
  position: relative;
  overflow: hidden;
}

.card-image img {
  width: 100%;
  display: block;
}

.card-category {
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: #ff4757;
  color: #fff;
  padding: 5px 10px;
  border-radius: 20px;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
}

.card-content {
  padding: 15px;
}

.card-title {
  margin: 0;
  font-size: 18px;
  font-weight: bold;
}

.card-description {
  font-size: 14px;
  color: #555;
  margin-top: 10px;
  line-height: 1.5;
}
.view-course {
  border: antiquewhite;
  background-color: antiquewhite;
  padding: 8px;
  border-radius: 4px;
}
