<main class="main">
  <!-- <div class="demo-triggers">
    <input placeholder="Type to trigger prefetch" #prefetch />
    <button #display>Trigger Display</button>
  </div> -->
  <div class="content" #container>
    <!-- <div class="demo">
      <p>{{ startDate | date : "MMM/dd/yyyy" }}</p>
      <h1>{{ title | uppercase }}</h1>
      <h2>{{ price | number : "3.3-5" }}</h2>
      <h3>{{ price | currency }}</h3>
  
    </div> -->
    <!-- @defer(on idle;prefetch on idle)
    @defer(on immediate;prefetch on idle) -->
    <!-- https://angular.dev/guide/templates/defer#idle -->

    <app-course-card
      #cardRef
      (courseSelected)="onCourseSelected($event)"
      [course]="courses[0]"
    ></app-course-card>

    <app-course-card
      #cardRef1
      (courseSelected)="onCourseSelected($event)"
      [course]="courses[1]"
    ></app-course-card>
  </div>
</main>
<router-outlet />
